<div id="header">
	<h1>EarthAudit Agricutural Yield Pilot</h1>
	<ul class="navigation round">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
</div>